@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  @apply flex flex-col h-screen w-screen text-black dark:text-white;
} 

@keyframes aurora {
  0% {
      background-position:30%;
  }
  50% {
      background-position: 75%;
  }

  100% {
      background-position: 30%;
  }
}
